.news {
  float: left;
  width: 280px;
  height: 270px;
  padding: 0 16px;
  border-left: 1px solid #eeeeee;
  overflow-y: hidden;
  font-size: 12px;
}

.news-first {
  padding-left: 0;
  border: 0;
}

.news-last {
  padding-right: 0;
}

.news .spec {
  display: block;
  margin: 0 14px 0 0;
  font-size: 12px;
}
.news .spec .origin {
  margin: 0 0.5em 0 0;
  padding: 0.5em 0.5em 0.25em 0.5em;
  background: #b70d21;
  color: #fff;
  font-style: normal;
}

.news h4 {
  margin: 0;
  padding: 10px 0 4px 0;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .intro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

.journal {
  display: flex;
  width: 280px;
  padding: 0 0 0 16px;
  font-size: 12px;
}

.journal img {
  width: 120px;
}

.journal .text {
  max-width: calc(100% - 140px);
  overflow-wrap: break-word;
  padding-top: 0px;
  margin-left: 10px;
}

.paper {
  display: flex;
  width: 400px;
  border-left: 1px solid #eeeeee;
  padding: 0 16px;
  font-size: 12px;
}

.paper img {
  width: 150px;
}

.paper .text {
  max-width: calc(100% - 150px);
  padding-top: 0px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
