.forms {
  display: flex;
  background-color: #2386cf;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  margin: 10 auto 20px auto;
  width: 170px;
  border-radius: 5px;
}

.forms a {
  color: #fff;
}

.forms a:hover {
  color: #000;
  text-decoration: none;
}

.forms img {
  width: 18px;
  height: 18px;
}
