.issn {
  margin: 0 auto;
  padding: 10px 0 0px 0;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.issn .journal-name {
  text-align: left;
  flex-grow: 1;
  max-width: 60%;
}

.issn .journal-name .publisher {
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.issn .journal-issn {
  text-align: right;
  flex-grow: 1;
}

h3 {
  display: block;
  color: #333;
  line-height: 1.5;

  font-weight: bold;
  outline: 0;
  padding: 3px 8px 5px 0px;
  font-size: 16px;
}

.journal-table {
  line-height: 1.5;
  width: 100%;
  border-top: 1px solid #ccc;
  font-size: 17px;
  font-family: Consolas, "Courier New", Courier, Monaco, monospace;
}

.journal-table thead tr {
  background-color: #c7e0ff;
}

.journal-table thead th {
  font-weight: normal;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  height: 33px;
  text-align: center;
  border-left: 1px dotted #c6c6c6;
  border-right: 1px dotted #c6c6c6;
  font-size: 13px;
}

.journal-table tbody td {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  height: 33px;
  text-align: center;
  border-left: 1px dotted #c6c6c6;
  border-right: 1px dotted #c6c6c6;
}

.journal-table tbody td a,
.journal-table tbody td a:visited,
.journal-table tbody td a:visited:after,
.journal-table tbody td a:visited:before {
  color: #35c;
}

.journal-table tbody td a:hover {
  color: white;
  background-color: #06d;
}

.journal-table tbody td a {
  display: inline-block;
  width: 100%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 3px;
}

.forms {
  display: flex;
  background-color: #2386cf;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  margin: 10 auto 20px auto;
  width: 170px;
  border-radius: 5px;
}

.forms a {
  color: #fff;
}

.forms a:hover {
  color: #000;
  text-decoration: none;
}

.forms img {
  width: 18px;
  height: 18px;
}
